<div class="row">
    <div class="col-12 mb-4">
<img class="img-fluid project-img" src="/images/unsplash.jpg" alt="<%= page.title %>">
</div>
<div class="col-lg-4 col-12 pt-3 px-4 pr-lg-5">
  <h1><%= page.title %></h1>
</div>
<div class="col-lg-8 col-12 pt-lg-3 mb-4 pl-lg-5 px-lg-0 px-4 portfolio-content">
  <%- page.content %>
</div>


    </div>